<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proxy Grabber</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    
    <!-- Meta Tags for SEO -->
    <meta name="description" content="Proxy Grabber - A tool to grab free proxies and check their availability.">
    <meta name="keywords" content="Proxy, Proxy Grabber, Free Proxy, Proxy Checker, Online Proxy, Proxy Tool">
    <meta name="author" content="Trhacknon">
    <meta name="robots" content="index, follow">

    <link rel="preload" href="https://d.top4top.io/p_3133p8z991.jpg" as="image">
    <!-- Meta Tags for Social Media Preview -->
    <meta property="og:title" content="Proxy Grabber">
    <meta property="og:description" content="Proxy Grabber - A tool to grab free proxies and check their availability.">
    <meta property="og:image" content="https://d.top4top.io/p_3133p8z991.jpg">
    <meta property="og:url" content="https://proxgrab.onrender.com/">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Proxy Grabber">
    <meta name="twitter:description" content="Proxy Grabber - A tool to grab free proxies and check their availability.">
    <meta name="twitter:image" content="https://d.top4top.io/p_3133p8z991.jpg">

    <!-- Additional Meta Tags -->
    <meta name="theme-color" content="#00FF00">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Proxy Grabber">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Proxy Grabber">
    <meta name="msapplication-TileImage" content="https://d.top4top.io/p_3133p8z991.jpg">
    <meta name="msapplication-TileColor" content="#00FF00">
</head>
<body>
    <div class="container">
        <img id="logo" src="{{ url_for('static', filename='logo.svg') }}" alt="Logo">
        <h1 class="flashy-text">Proxy Grabber</h1>
        <h2>Enter the site URL to check proxies</h2>
        <form action="{{ url_for('start') }}" method="post">
            <input type="text" name="site_url" placeholder="https://example.com">
            <button type="submit">Start</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
